<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

    <nav id="navbar">
        <div id="div_head">
            <h2 id="nav_head">TO DO LIST
            </h2>
        </div>
    
        <div id="div_home">
            <button><a href="/">Home</a></button>
        </div>
    
        <div id="div_portfolio">
            <button><a href="/portfolio">Portfolio</a></button>
        </div>
    
    </nav>