* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  /* background-image: url(noise.png); */
  background-color: rgb(153, 153, 153, 0.2);
  color: white;
}

#navbar {
  /* text-align: center; */
  display: inline-block;
  padding: 0px;
  background-color: rgba(197, 155, 29, 1);
  border: 5px double white;
}

#div_head {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#div_home {
  display: inline-block;
  padding: 10px 0;
}

#div_portfolio {
  display: inline-block;
  padding: 10px 0;
}

#div_home > button {
  background-color: #a1ca31;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: 2px solid white;
}

#div_home > button:hover {
  background-color: #c78117;
  /* box-shadow: 0 0 10px #2ba805; */
  box-shadow: 6px 3px 6px rgb(51, 50, 50);
}

#div_portfolio > button {
  background-color: #f03f83;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: 2px solid white;
}

#div_portfolio > button:hover {
  background-color: #c78117;
  /* box-shadow: 0 0 10px #2ba805; */
  box-shadow: 6px 3px 6px rgb(51, 50, 50);
}

#div_home > button > a {
  text-decoration: none;
  color: #ffffff;
}

#div_portfolio > button > a {
  text-decoration: none;
  color: #ffffff;
}

#nav_head {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#mousepos {
  /* position: absolute;
  top: 64%;
  left: 72%;
  transform: translate(-50%, -50%); */
  color: #2ba805;
  font-size: 14px;
  /* text-shadow: 2px 2px 2px #2ba805; */
}

#canvas {
  /* border: 5px solid #000000; */
  border: 6px ridge #ffbf00; /* Border does not comes in the image sent to model, Model will remain unaffected */
  background-color: #000000;
  margin-left: 25px;
  margin-top: 25px;
  /* box-shadow: 10px 10px 5px #32e0c4; */
  /* box-shadow: 15px 12px 5px #494c4e; */
}

#link {
  visibility: hidden;
}

#refresh {
  text-decoration: none;
  color: white;
}

#downloader {
  text-decoration: none;
  color: white;
}

#answer {
  /* position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%); */
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    /* top: 0px; */
    color: #eecf73;
    font-size: 20px;
  }
  to {
    /* top: 300px; */
    font-size: 60px;
    color: #ffbf00;
  }
}

#loader_text {
  font-size: 30px;
  color: #1b76ff;
}

#instruction {
  color: #c78117;
}

#instruction span {
  color: #2ba805;
}

/* ---------------- Custom Grids ---------------------*/

img {
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  height: auto;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

/* ------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

/*======== DOG PRELOADER INITIATION ==========*/
.loading {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.loading__dog {
  width: 120px;
  height: 200px;
  position: relative;
  z-index: 10;
}
.loading__title {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-top: -17px;
  font-weight: bold;
  color: #867f75;
  font-family: "PT Sans";
}

.cabeza {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 8px;
  top: 22px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 20;
}
.cabeza__bg {
  background-color: #cac6bd;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.cabeza__bg:nth-of-type(1) {
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg);
  margin-left: 1px;
  position: relative;
  z-index: 10;
}
.cabeza__bg:nth-of-type(2) {
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  position: absolute;
  right: 5px;
  top: -2px;
  width: 70%;
}
.cabeza__bg:nth-of-type(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
}
.cabeza__mancha {
  background-color: #867f75;
  width: 58px;
  height: 55px;
  position: absolute;
  left: -20px;
  top: 2px;
  border-radius: 50%;
}
.cabeza__ojos {
  position: absolute;
  top: 30px;
  z-index: 10;
}
.cabeza__ojo {
  width: 11px;
  height: 11px;
  background-color: white;
  position: absolute;
  z-index: 20;
  border-radius: 50%;
  left: 30px;
}
.cabeza__ojo:last-of-type {
  left: 51px;
}
.cabeza__ojo:last-of-type .cabeza__retina {
  right: auto;
  left: 2px;
}
.cabeza__retina {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 2px;
  border: solid 1px #cdcdcc;
}
.cabeza__nariz {
  position: absolute;
  bottom: 26px;
  left: 32px;
  width: 27px;
  height: 20px;
  z-index: 20;
}
.cabeza__bgnariz {
  background-color: black;
  width: 15px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 0;
}
.cabeza__bgnariz:nth-of-type(1) {
  -webkit-transform: rotate(-39deg);
  transform: rotate(-39deg);
  left: 2px;
}
.cabeza__bgnariz:nth-of-type(2) {
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg);
  left: auto;
  right: 1px;
}
.cabeza__bgnariz:nth-of-type(3) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: auto;
  right: auto;
  width: 76%;
  height: 81%;
  top: auto;
  bottom: 0;
  left: 4px;
}
.cabeza__bgnariz:nth-of-type(4) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: auto;
  right: auto;
  width: 89%;
  height: 51%;
  top: 0;
  bottom: auto;
  left: 2px;
}
.cabeza__bgnariz:nth-of-type(5) {
  -webkit-transform: rotate(9deg);
  transform: rotate(9deg);
  background-color: white;
  width: 13px;
  height: 6px;
  border-radius: 50%;
  right: 2px;
  top: 2px;
}

@-webkit-keyframes lengua {
  0% {
    -webkit-transform: translate(58px, 102px);
    transform: translate(58px, 102px);
  }
  50% {
    -webkit-transform: translate(58px, 104px);
    transform: translate(58px, 104px);
  }
  100% {
    -webkit-transform: translate(58px, 102px);
    transform: translate(58px, 102px);
  }
}

@keyframes lengua {
  0% {
    -webkit-transform: translate(58px, 102px);
    transform: translate(58px, 102px);
  }
  50% {
    -webkit-transform: translate(58px, 104px);
    transform: translate(58px, 104px);
  }
  100% {
    -webkit-transform: translate(58px, 102px);
    transform: translate(58px, 102px);
  }
}
@-webkit-keyframes cola {
  0% {
    -webkit-transform: rotate(-24deg) skew(-4deg, 7deg);
    transform: rotate(-24deg) skew(-4deg, 7deg);
  }
  50% {
    -webkit-transform: rotate(-30deg) skew(-4deg, 7deg);
    transform: rotate(-30deg) skew(-4deg, 7deg);
  }
  100% {
    -webkit-transform: rotate(-24deg) skew(-4deg, 7deg);
    transform: rotate(-24deg) skew(-4deg, 7deg);
  }
}
@keyframes cola {
  0% {
    -webkit-transform: rotate(-24deg) skew(-4deg, 7deg);
    transform: rotate(-24deg) skew(-4deg, 7deg);
  }
  50% {
    -webkit-transform: rotate(-30deg) skew(-4deg, 7deg);
    transform: rotate(-30deg) skew(-4deg, 7deg);
  }
  100% {
    -webkit-transform: rotate(-24deg) skew(-4deg, 7deg);
    transform: rotate(-24deg) skew(-4deg, 7deg);
  }
}
.lengua {
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background-color: #fb5353;
  position: absolute;
  -webkit-transform: translate(58px, 102px);
  transform: translate(58px, 102px);
  z-index: 15;
  -webkit-animation: lengua;
  animation: lengua;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.oreja {
  position: absolute;
  top: 10px;
}
.oreja:last-of-type {
  left: 129px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.oreja__entrada {
  background-color: #867f75;
  width: 31px;
  height: 13px;
  position: absolute;
  left: 18px;
  top: 12px;
  -webkit-transform: rotate(28deg);
  transform: rotate(28deg);
  border-radius: 50%;
}
.oreja__salida {
  border-radius: 50%;
  background-color: #867f75;
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
  position: absolute;
  left: 10px;
  top: 9px;
  width: 15px;
  height: 40px;
}

.mechones {
  position: absolute;
  left: 0;
  top: 12px;
  width: 100%;
  text-align: center;
}

.mechon {
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  width: 6px;
  border-radius: 50%;
  height: 20px;
  margin-right: 3px;
  display: inline-block;
  background-color: #cac6bd;
  position: relative;
}
.mechon:last-of-type {
  top: 2px;
}

.cuerpo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.cuerpo__nuca {
  position: absolute;
  top: -1px;
  left: 39px;
  height: 46px;
  -webkit-transform: rotate(26deg);
  transform: rotate(26deg);
  width: 18px;
  background-color: #cac6bd;
}
.cuerpo__cuello {
  position: absolute;
  right: 38px;
  top: -10px;
  height: 40px;
  width: 32px;
  background-color: #cac6bd;
  -webkit-transform: skew(-7deg, -2deg);
  transform: skew(-7deg, -2deg);
}
.cuerpo__espalda {
  width: 50px;
  height: 84px;
  background-color: #cac6bd;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  top: 15px;
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
  z-index: 10;
}
.cuerpo__patatrasera {
  position: absolute;
  bottom: 3px;
  left: 25px;
  height: 9px;
  width: 24px;
  border-radius: 50%;
  background-color: #cac6bd;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}
.cuerpo__panza {
  width: 69px;
  height: 31px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: #cac6bd;
  border-radius: 50%;
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
}
.cuerpo__patita {
  width: 10px;
  height: 15px;
  position: absolute;
  bottom: 3px;
  left: 56px;
  background-color: #cac6bd;
  border-radius: 50%;
}
.cuerpo__pecho {
  position: absolute;
  top: -6px;
  right: 34px;
  height: 102px;
  background-color: #cac6bd;
  width: 23px;
  border-radius: 50%;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.cuerpo__cola {
  width: 10px;
  height: 40px;
  position: absolute;
  top: 39px;
  left: 15px;
  -webkit-transform: rotate(-26deg) skew(-4deg, 7deg);
  transform: rotate(-26deg) skew(-4deg, 7deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  border-radius: 50%;
  background-color: #867f75;
  -webkit-animation: cola;
  animation: cola;
  -webkit-animation-duration: 0.12s;
  animation-duration: 0.12s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* ########################################################################################## */
#image {
  margin-right: 0px;
  padding: 0px;
}

#buttons {
  /* width: 40%; */
  /* text-align: left; */
  /* display: inline; */
}

.inner_btn {
  display: inline-block;
}

#resetbtn {
  margin-left: 20px;
  margin-right: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#resetbtn:hover {
  background-color: #c78117;
  box-shadow: 10px 10px 5px #232729;
}

#refresh:hover {
  color: white;
}

#downloadbtn {
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#downloadbtn:hover {
  background-color: #8675a9;
  box-shadow: 10px 10px 5px #232729;
}

#downloader:hover {
  color: white;
}

#submit_link {
  /* margin-left: 50px; */
  /* margin-right: 10px; */
  margin: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#submit_link:hover {
  background-color: green;
  color: white;
  box-shadow: 10px 10px 5px #232729;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
/* #submit_link {
  animation: glowing 1300ms infinite;
} */

/* 404d53 #################################################################################################*/

/* --------------------------------------------------------------------------------------- */

#row-1 {
  /* display: inline-block; */
  text-align: center;
}

#right_section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* ----------------------------------------- MODAL INITIATION-------------------------------------------------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    /* top: -300px; */
    opacity: 0;
  }
  to {
    /* top: 0; */
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    opacity: 0;
  }
  to {
    /* top: 0; */
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ffbf00;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #ffbf00;
  color: white;
}

/* ----------------------------------------- MODAL COMPLETION-------------------------------------------------- */

/* ------------------------------------ MEDIA QUERIES ---------------------------------------- */

@media only screen and (max-width: 991px) {
  [class*="col-"] {
    float: left;
    padding: 0;
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #navbar {
    width: 100%;
  }

  #buttons {
    width: 80%;
    display: inline-block;
    text-align: center;
  }

  .inner_btn {
    width: 80%;
    display: inline-block;
    text-align: center;
  }

  #answer {
    width: 100%;
    margin: 10px 0px;
    animation: mymove 3s;
    animation-fill-mode: forwards;
  }

  @keyframes mymove {
    from {
      /* top: 0px; */
      color: #eecf73;
      font-size: 20px;
    }
    to {
      /* top: 300px; */
      font-size: 45px;
      color: #ffbf00;
    }
  }

  #submit_link {
    width: 80%;
    margin: 10px 0px;
    margin-left: 0px;
  }

  #downloadbtn {
    width: 80%;
    margin: 10px 0px;
  }

  #resetbtn {
    width: 80%;
    margin: 10px 0px;
  }

  #canvas {
    margin-left: 0px;
    margin-top: 10px;
    /* border: none; */
  }

  #right_section {
    display: block;
  }
}

/* @media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  
} */

@media only screen and (min-width: 991px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
