{% extends "projects_intro_html/base_intro_proj.html" %}

{% block body %}

    <!-- top-bar -->
    <div class="top-bar">
        <h1>To Do List</h1>
        <p>
            <a href="{{ url_for('home_route') }}">Home</a> /
            <a href="{{ url_for('portfolio_route') }}">portfolio</a> / To Do List
        </p>
    </div>
    <!-- end top-bar -->

    <!-- main-container -->
    <div class="container main-container">
        <div class="col-md-12">
            <img src="../../static/img/gif/todolist.gif" alt="" class="img-responsive" height="150" width="150" />
            <div class="h-30"></div>
        </div>

        <div class="col-md-12">
            <h3 class="text-uppercase">To Do List</h3>
            <h5>NodeJS</h5>
            <div class="h-30"></div>
        </div>

        <div class="col-md-9">
            <p>
                The Project is developed by using NodeJS and connected to the MongoDB database.
            </p>

            <p>
                The project is a web appplication that lets the user save their daily task and remove them when executed.
            </p>

            <a href="http://127.0.0.1:5000/" class="a_view_live" target="_blank"><em class="view_live"><b>View Live</b></em>
            </a>
            <a href="#" class="a_view_live" target="_blank"><em class="view_live"><b>View Code</b></em>
            </a>
        </div>

        <div class="col-md-3">
            <ul class="cat-ul">
                <li><i class="ion-ios-circle-filled"></i> NodeJS</li>
                <li>
                    <i class="ion-ios-circle-filled"></i> Express | EJS
                </li>
                <li><i class="ion-ios-circle-filled"></i> MongoDB | Mongoose</li>
                <li><i class="ion-ios-circle-filled"></i> HTML | CSS | Javascript</li>
            </ul>

{% endblock %}