{% extends "base.html" %}

{% block body %}

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">Analyse.</b>
                        <b id="rotate_dev_text">&nbsp;Develop.</b>
                        <b>Implement.</b>
                    </span>
                </h1>
                <h5>A Digital Nomad. Legal guy turned Coder.</h5>
            </div>

            <div class="mouse">
                <div class="scroll"> <a href="#"></a> </div>
            </div>
        </section>
        <!-- end box-intro -->
        <!-- <h2 style="text-align: center;">PORTFOLIO</h2> -->
    </div>

    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <div class="no-padding portfolio_container">
                <!-- single work -->
                <div class="col-md-4 col-sm-4  deeplearn webapp portfolio_box">
                    <a href="{{ url_for('cnn_mnist_route') }}" class="portfolio_item">
                        <img src="static/img/icon/number.png" alt="image" class="img-responsive img_pos" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Number Recognition System</span>
                                    <em>Know More</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-4 col-sm-4 coremachine webapp portfolio_box">
                    <a href="{{ url_for('flight_fare_route') }}" class="portfolio_item">
                        <img src="static/img/icon/airplane.png" alt="image" class="img-responsive img_pos" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Flight Fare Prediction</span>
                                    <em>Know More</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-4 col-sm-4 deeplearn webapp portfolio_box">
                    <a href="{{ url_for('cnn_cifar_route') }}" class="portfolio_item">
                        <img src="static/img/icon/object.png" alt="image" class="img-responsive img_pos" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Object Recognition System</span>
                                    <em>Know More</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-4 col-sm-4 webapp portfolio_box">
                    <a href="{{ url_for('blogspot_route') }}" class="portfolio_item">
                        <img src="static/img/icon/blog.png" alt="image" class="img-responsive img_pos" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Blog Post</span>
                                    <em>Know More</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-4 col-sm-4 deskapp portfolio_box">
                    <a href="{{ url_for('space_invader_route') }}" class="portfolio_item">
                        <img src="static/img/icon/space.png" alt="image" class="img-responsive img_pos" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>Space Invader</span>
                                    <em>Know More</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->

                <!-- single work -->
                <div class="col-md-4 col-sm-4 webapp portfolio_box">
                    <a href="{{ url_for('todolist_route') }}" class="portfolio_item">
                        <img src="static/img/icon/todolist.png" alt="image" class="img-responsive img_pos" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>To Do List</span>
                                    <em>Know More</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end single work -->


                <!-- single work -->
                <!-- <div class="col-md-4 col-sm-6 graphics ads">
                                        <a href="single-project.html" class="portfolio_item">
                                            <img src="http://placehold.it/1000x1000" alt="image" class="img-responsive" />
                                            <div class="portfolio_item_hover">
                                                <div class="portfolio-border clearfix">
                                                    <div class="item_info">
                                                        <span>Mobile devices</span>
                                                        <em>Graphics / Ads</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div> -->
                <!-- end single work -->

                <!-- single work -->
                <!-- <div class="col-md-4 col-sm-6 graphics ads">
                                        <a href="single-project.html" class="portfolio_item">
                                            <img src="http://placehold.it/1000x1000" alt="image" class="img-responsive" />
                                            <div class="portfolio_item_hover">
                                                <div class="portfolio-border clearfix">
                                                    <div class="item_info">
                                                        <span>Mobile devices</span>
                                                        <em>Graphics / Ads</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div> -->
                <!-- end single work -->

                <!-- single work -->
                <!-- <div class="col-md-4 col-sm-6 graphics ads">
                                        <a href="single-project.html" class="portfolio_item">
                                            <img src="http://placehold.it/1000x1000" alt="image" class="img-responsive" />
                                            <div class="portfolio_item_hover">
                                                <div class="portfolio-border clearfix">
                                                    <div class="item_info">
                                                        <span>Mobile devices</span>
                                                        <em>Graphics / Ads</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div> -->
                <!-- end single work -->
            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->

{% endblock %}