
{% extends "base.html" %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h1>Editing Post</h1>

<hr>

<h2> Edit Blog Post</h2>
<form action="" method="POST">

    <!--
    1. posts/edit/{{var_post.id}} , 
    2. {{url_for('edit', id = var_post.id)}}, 
    3. {{url_for('edit', id = var_post.id, _external = True)}} #"_external = true" directly redirects the action url to the base route, in our case it is localhost:5000 on the local serber but on the server also it is redirecting to the localhost, thus it is creating a problem #     
    4. COMMENT- The URL field is left blank as the route for submission and route which redirected to the page is same
    -->
    
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" value = "{{var_post.title}}" onfocus="this.value = ''">
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" name="author" id="author" value = "{{var_post.author}}" onfocus="this.value = ''">
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content" onfocus="this.value = ''" rows="3">{{var_post.content}}</textarea>
    <br>
    <input class = "btn btn-success" type="submit" value="Save">
</form>
<hr>



{% endblock %}